.main
  .main__header
    .main__header--left
      %p.group-name
        = @group.name
      .member-name
        %p Member：
        %p 
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "main__header--right" do
      .edit-btn edit
  .main__messages
    = render @messages
  .main__footer
    .main__footer--box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'form-btn'