.main
  .main__header
    .main__header--left
      %p.group-name test
      %p.member-name Member:masa
    = link_to "#", class: "main__header--right" do
      .edit-btn edit
  .main__messages
    = render @messages
  .main__footer
    .main__footer--box
      .left-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form-text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'file'
          = f.submit 'Send', class: 'form-btn'